<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251754092545-dn6i7r41o3bk9pme7jah0a36kokn7map.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251754092545-dn6i7r41o3bk9pme7jah0a36kokn7map</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>251754092545-sv4n4htguemfbe1qattu9t13dodmbtoh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5ZlPd9BWFatznIIO2b2p7k4WsnNNBJyg</string>
	<key>GCM_SENDER_ID</key>
	<string>251754092545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test01.hapo.com.flutterTest01</string>
	<key>PROJECT_ID</key>
	<string>flutter-test01-5f341</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test01-5f341.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251754092545:ios:9ee35827df36f92a</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-test01-5f341.firebaseio.com</string>
</dict>
</plist>